.ace_editor {
  position: relative !important;
  border: 1px solid lightgray;
  margin: 30px 0px;
  height: 250px;
  width: 100%;
}

.scrollmargin {
  text-align: center;
}

.large-button {
  color: lightblue;
  cursor: pointer;
  font: 30px arial;
  padding: 20px;
  text-align: center;
  border: medium solid transparent;
  display: inline-block;
}

.large-button:hover {
  border: medium solid lightgray;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 12px 0 lightblue;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.btn-remove {
  position: absolute;
  z-index: 9;
  right: 0;
  margin: 5pt;
}

.line {
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: 99;
  color: #000;
  margin-top: -10px;
}

#qrcode {
  float: left;
  padding: 5pt;
  margin-right: 5pt;
  background-color: #FFF;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}